.venv/
venv/
env/
ENV/
.python-version

.uv/
uv_env/
uv.lock.bak


notes.db
notes.db-shm
notes.db-wal

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/

*.log
*.tmp
*.swp
*.swo
*.DS_Store


.vscode/
.idea/
*.iml


pytest_cache/
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints/

.env
.env.*
notes.db
